@import '../../styles/colors.scss';

.navbar {
  background-color: white;
  border-bottom: 1px solid $border-color;
  padding-left: 100px;

  a {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: none;
    color: $secondary-text-color;
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: 600;

    &.active {
      font-weight: bold;
      color: $mint-dark;
    }

    &:hover {
      background-color: $steel-10;
    }
  }
}
