@import '../../styles/colors.scss';

.navbar {
  background: linear-gradient(to bottom, $steel-5 0%,$steel-5 50%,$steel-10 50%,$steel-10 100%);
  border-bottom: 1px solid $border-color;
  padding-left: 101px;

  a {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    color: $secondary-text-color;
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: 900;
    border-left: 2px solid $steel-40;
    &.active {
      color: $mint-dark;
    }

    &:hover {
      background-color: $steel-10;
    }
  }
}
