
@import '../../styles/colors.scss';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


.serach-panel-image{
   background-repeat: no-repeat;
   background-size:100% auto;
   background-position: 0px -120px;
   background-attachment: fixed;
   background-image: url('/assets/hero-image.png');
   height: 190px;
   width: 100%;
   z-index: -1;
   opacity: .9;
}
 

.search-box{
  width: 450px;
  height: 45px;
  float: left;
  padding-left: 45px;
}

.search-button{
  width: 100px;
  height: 45px;
  text-align: center;
  font-size: 10pt;
  font-weight: 600;
  color: $secondary-text-color;
  float: left;
  text-transform: uppercase;
}
 .error-text{
    color: $red;
 }

.mat-card {
   padding-left: 5%;
   box-shadow: none !important;
 }

 .avatar{
   width: 80px !important;
   height: 80px !important;
   border-radius: 50px;
 }

 .card-primary-text{
    padding-top: 15px;
   font-size: 10pt;
   font-style: bold;
   font-weight: 800;
   color: $primary-text-color;
 }

 .card-secondary-text{
  font-size: 9pt;
  font-style: bold;
  font-weight: 800;
  color: $secondary-text-color;
}